// Text colors
@each $name, $color in $custom-colors {
  .text-#{$name} {
    color: #{$color} !important;
  }
}

// Background colors
@each $name, $color in $custom-colors {
  .bg-#{$name} {
    background-color: #{$color} !important;
  }
}

// Border colors
@each $name, $color in $custom-colors {
  .border-#{$name} {
    border-color: #{$color} !important;
  }
}

// Opacidades
$opacities: (0, 5, 10, 20, 25, 30, 40, 50, 60, 70, 75, 80, 90, 95, 100);

@each $opacity in $opacities {
  .opacity-#{$opacity} {
    opacity: #{$opacity / 100} !important;
  }
}
